/* 
CSS styling for the table of plagiarism instances -- includes overrides of
native ant styling
*/
.instance-table .ant-table-tbody > tr > td {
    height: 5px;
    padding: 4px;
}

.instance-table .ant-table-body {
    min-height: 250px;
}

.instance-table .ant-table-tbody > tr.ant-table-row:hover > td {
    background: unset;
}


/* 
CSS styling for the file table for display available files to select -- 
includes overrides of native ant styling
*/
.file-table .ant-table-body {
    min-height: 285px;
}

.file-table .ant-table-tbody > tr > td {
    height: 5px;
    padding: 4px;
}

.file-table .ant-table-tbody > tr.ant-table-row:hover > td {
    background: unset;
}

/*
CSS styling for the windows that display code to the user -- includes overrides of
native ant styling
*/
.code-table .ant-table-tbody > tr > td {
    padding: 0px;
    padding-left: 10px;
    font-size: 11px;
    border-bottom: 0;
    white-space: pre;
}

.code-table .ant-table-body {
    min-height: 724px;
}

.code-table .ant-table-tbody > tr.ant-table-row:hover > td {
    background: unset;
}

/*
describes styling for all columns in Comparison component
*/
.col-style {
    height: 100%;
}

/*
describes css styling for the overview - detailed - and save report buttons
*/
.detail-button {
    margin-left: 1%;
    margin-right: 1%;
    width: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
css styling for the project button above files table
*/
.project-button .ant-btn {
    width:33%;
    height: 100px;
}

/*
describes color and line-wrap behavior for all row elements of tables
*/
.row-selected-a {
    background-color: lightcoral;
    overflow: hidden;
    white-space: nowrap;
}

.row-selected-b {
    background-color: lightcoral;
    overflow: hidden;
    white-space: nowrap;
}

.row-unselected {
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
}

.entry-selected {
    background-color: lightcoral;

}

.entry-unselected {
    background-color: white;
}

/*
describes css override of native ant hover behavior
*/
.detail-button.ant-btn:hover {
    color: '#d41b2e' !important;
    border-color: '#d41b2e' !important;
}